.header {
  text-align: center;
  color: #000;
  height: 70px;
  padding-inline: 48px;
  line-height: 64px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

.header__right {
  display: flex;
  align-items: center;
  width: 230px;
  padding: 10px;
  margin-top: 20px;
}

.logo {
  width: 60px;
  height: 60px;
}
