.logoutButton {
    background-color: #fff;
    color: #000;
    border: none;
    padding:  30px;
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
    height: 60px;
    bottom: 10px; 
    transform: translateX(-50%); 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    svg{
      width: 25px;
      height: 25px;
      color: rgb(33, 144, 228);
      ;
    }
  }