.title {
  color: #000;
  text-align: left;
  padding: 15px 20px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary__btn {
  display: flex;
  align-items: center;
  font-size: 17px;
  height: 40px;
  margin: 20px 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
