/* signIn.module.css */
.wrapper {
  display: flex;
  min-height: 100vh;
}

.form {
  flex: 0 0 450px;
  padding: 140px 30px;
  background: #fff;
  border-right: 1px solid #d9d9d9;
}

.image {
  width: 100%;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://img.geliophoto.com/bishkek/31_bishkek.jpg);
}

.title {
  color: #000;
  font-family: "Greycliff CF", sans-serif;
  text-align: center;
}

.logo {
  display: flex;
  margin: 20px auto;
  width: 100px;
  height: 100px;
}

.error {
  color: red;
  margin-bottom: 16px;
  text-align: center;
}
