/* adminMenu.module.css */

.menu {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  position: relative;
  height: 100%;
}

.menu__item {
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 18px;
  text-align: left;
  height: 60px !important;
  align-items: center;
  display: flex !important;
}

.bottomContent {
  margin-top: auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px -2px 8px 0px; 
}

